<mat-toolbar>Home</mat-toolbar>

<app-contact-list [contactsList] = "contacts" (contatoEmissor) = "receberContato($event)"></app-contact-list>


<mat-card class="example-card" *ngIf="contatoRecebido">
    <mat-card-header>      
      <mat-card-title>{{contatoRecebido.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{contatoRecebido.image}}" alt="Photo of a Shiba Inu"> 
   
    <mat-card-content>
        <p>{{contatoRecebido.phone}}</p>
        <p>{{contatoRecebido.email}}</p>
    </mat-card-content>
   
  </mat-card>