<mat-toolbar>Home</mat-toolbar>

<app-contact-list [contactsList] = "contacts" (contatoEmissor) = "receberContato($event)"></app-contact-list>


<mat-card class="example-card" *ngIf="contatoRecebido">
    <mat-card-header>      
      <mat-card-title>{{contatoRecebido.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{contatoRecebido.image}}" alt="Photo of a Shiba Inu"> 
   
    <mat-card-content>
        <p>{{contatoRecebido.phone}}</p>
        <p>{{contatoRecebido.email}}</p>
    </mat-card-content>
</mat-card>

    
    <h2>Adicionar Contato</h2>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    
      <label for="nomeInput">Digite o nome: </label>
      <input type="text" id="nomeInput" name="nome" ngModel><br>

      <label for="imagemInput">Selecione a imagem: </label>
      <input type="text" id="imagemInput" name="imagem" ngModel><br>

      <label for="telefoneInput">Digite o telefone: </label>
      <input type="text" id="telefoneInput" name="telefone" ngModel><br>

      <label for="emailInput">Digite o email: </label>
      <input type="text" id="emailInput" name="email" ngModel><br>

      <button type="submit">Enviar</button>

    </form>





   
